#protocol
  #authorship
    float: right
    clear: none

  #instructions
    float: left
    width: 100%

    h1, h2, h3, h4
      margin-bottom: 10px

    p, ol, ul
      margin-bottom: 20px

    ul
      list-style-type: disc
      list-style-position: inside

    ol
      list-style-type: decimal
      list-style-position: inside
