.invisible
  display: none

// add to parent elements when their children are floating
// and parent needs to expand to the children's size.
.clearfix
  zoom: 1

  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden

hr
  height: 1px
  width: 70%
  color: $gray-medium-light
  background-color: $gray-medium-light
  border-width: 0
  margin-top: 0
  margin-bottom: 0

// icon for external links
.external-link
  display: inline-block
  padding-right: 15px
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAElJREFUeNpiZMACInYnzQdSCSA2C5DzHyq+YIXrvER0xSwgAijBiEX3ArgCbJIw05iwOAHVKiQ3YHMoVhNgIAHuBlymgABAgAEAuZUbEqLsuG0AAAAASUVORK5CYII=) center right no-repeat

// rounded text bubble
.colorful-bubble
  float: left
  clear: both
  width: 920px
  padding: 30px
  margin-bottom: 40px
  border-radius: 10px
  font-size: 20px
  color: black

.colorful-bubble a
  color: white
