body
  font-family: "Computer Modern Bright", Helvetica, sans-serif
  background: $gray-very-light
  color: $gray-dark
  line-height: 130%
  font-size: 18px
  @media (max-width: $medium-window-width)
    font-size: 17px
  @media (max-width: $small-window-width)
    font-size: 16px
  @media (max-width: $tiny-window-width)
    font-size: 15px

.bigger-text
  font-size: 20px
  @media (max-width: $medium-window-width)
    font-size: 19px
  @media (max-width: $small-window-width)
    font-size: 18px
  @media (max-width: $tiny-window-width)
    font-size: 17px
  h3
    font-size: 19px
    @media (max-width: $medium-window-width)
      font-size: 18px
    @media (max-width: $small-window-width)
      font-size: 17px
    @media (max-width: $tiny-window-width)
      font-size: 16px

i, em
  font-style: italic

b, strong
  font-weight: bold

h1, h2, h3, h4
  font-weight: normal

h1
  font-size: 32px
  line-height: 1.2
  @media (max-width: $small-window-width)
    font-size: 28px
  @media (max-width: $tiny-window-width)
    font-size: 24px

h2
  font-size: 24px

  &#page-title
    margin-bottom: $vertical-section-whitespace

    &.no-page-title
      display: none

    &.clear-and-float
      clear: none
      float: left

h3
  font-size: 16px
  @media (max-width: $medium-window-width)
    font-size: 17px
  @media (max-width: $small-window-width)
    font-size: 15px
  @media (max-width: $tiny-window-width)
    font-size: 13px
  text-transform: uppercase
  letter-spacing: 1px
  margin-bottom: $vertical-subsection-whitespace

h4
  font-size: 20px
  font-weight: bold
  color: $gray-medium
  margin-bottom: $vertical-subsection-whitespace

.subtitle
  font-size: $small-font
  color: $gray-medium-dark

a
  text-decoration: none
  color: $green

  &:hover, &.active
    color: $purple

  &.active
    cursor: default
