#wrap-header
  position: relative
  z-index: 1
  box-shadow: 0 0 8px transparentize(black, 0.7)
  background: black

#header
  padding-top: 20px

  h1
    float: left
    clear: none
    line-height: 1.2
    font-size: 36px

    a, a:hover
      color: white
    text-decoration: none

  &:hover
    color: $green

  #login
    float: right
    clear: none
    font-size: 13px

    a
      float: left
      clear: both

  #menu
    float: left
    font-size: 18px
    padding: 20px 0

    a
      margin-right: 36px
      float: left
