#wrap-header
  position: relative
  z-index: 1
  box-shadow: 0 0 8px transparentize(black, 0.7)
  background: black

#header
  #site-title
    float: left
    clear: none
    height: 100%
    a, a:hover
      color: white

  #site-menu
    margin-top: 5px
    float: right
    @media (max-width: $medium-window-width)
      float: left
      clear: both
    a
      float: left
      margin-right: 30px
      margin-top: 5px

    #login
      background: $purple
      font-size: $small-font
      padding: 3px 6px
      float: left
      margin-top: 2px
      a
        margin-top: 0
        margin-right: 15px
        &:last-child
          margin-right: 0px
        color: $light-green
        &:hover, &.active
          color: $gray-very-light
