$vertical-window-padding: 12px
html, body
  min-width: 100%
  margin: 0

#wrap-header, #wrap-content, #wrap-footer
  width: 100%
  clear: both
  float: left

#wrap-content
  padding: 60px 0 $content-bottom-padding 0

#wrap-footer
  padding: 0 0 $vertical-window-padding 0

#wrap-header
  padding: $vertical-window-padding 0 $vertical-window-padding 0

#header, #footer
  width: 100% - $window-margin * 2
  margin-left: $window-margin
  margin-right: $window-margin

#content
  margin: 0 auto
  width: $content-width-static
  @media (max-width: $content-width-static)
    width: $content-width-dynamic

body#home
  #content
    width: 100%
    @media (max-width: $content-width-static)
      width: 100%

  #wrap-content
    padding-bottom: 0
