html, body
  min-width: 100%
  margin: 0

#wrap-header, #wrap-content, #wrap-footer
  width: 100%
  clear: both
  float: left
  min-width: 1000px

#wrap-content
  padding: $content-top-padding 0 $content-bottom-padding 0

#header, #content, #footer
  width: $site-width
  margin: 0 auto
