$green: #58bb62
$light-green: #a0d8a6
$dark-green: #419f4a
$nyu-purple: #57068c
$purple: #937AA9
$dark-purple: #6A587A
$brown: #5d543b
$cream: #FCECCB

$gray-dark: #333
$gray-medium-dark: #999
$gray-medium: #aaa
$gray-medium-light: #ddd
$gray-light: #efefef
$gray-very-light: #fff

$medium-window-width: 1150px
$small-window-width: 800px
$tiny-window-width: 600px
$teeny-window-width: 500px

$window-margin: 3%
$content-width-dynamic: 94%
$content-width-static: 980px
$content-bottom-padding: 150px
$vertical-section-whitespace: 40px
$vertical-subsection-whitespace: 20px
$dynamic-break-point: 1.06

$base-font-size: 18px
$small-font-size: $base-font-size - 4

$base-border-radius: 10px

@import bourbon/_bourbon

@import reset
@import page-layout
@import header
@import footer
@import font
@import elements

@import ../../../website/static/stylesheets/home
@import ../../../website/static/stylesheets/people
@import ../../../website/static/stylesheets/resources
@import ../../../website/static/stylesheets/publications
@import ../../../website/static/stylesheets/join
@import ../../../website/static/stylesheets/contact
@import ../../../website/static/stylesheets/lab_tools

@import ../../../protocols/static/stylesheets/protocols
@import ../../../storage/static/stylesheets/storage
@import ../../../worm_strains/static/stylesheets/strains
