$green: #58bb62
$light-green: #abddb0
$purple: #937AA9
$brown: #5d543b
$nyu-purple: #57068c
$cream: #FCECCB

$gray-dark: #333
$gray-medium-dark: #999
$gray-medium: #aaa
$gray-medium-light: #ddd
$gray-light: #efefef
$gray-very-light: #fff

$content-top-padding: 50px
$content-bottom-padding: 150px
$site-width: 980px

@import bourbon/_bourbon

@import reset
@import page-layout
@import header
@import footer
@import font
@import elements

@import ../../../website/static/stylesheets/home
@import ../../../website/static/stylesheets/lab_members
@import ../../../website/static/stylesheets/resources
@import ../../../website/static/stylesheets/publications
@import ../../../website/static/stylesheets/join
@import ../../../website/static/stylesheets/contact
@import ../../../website/static/stylesheets/lab_tools

@import ../../../protocols/static/stylesheets/protocols
@import ../../../storage/static/stylesheets/storage
@import ../../../worm_strains/static/stylesheets/strains
