#vats div {
	float: left;
	clear: none;
	width: 100px;
	margin-left: 20px;
	text-align: center;
}

#vats div:first-child {
	margin-left: 0;
}

#vats img, #vats span {
	width: 100%;
	clear: both;
}

#storage {
	width: 100%;
	text-align: center;
}

#storage, #storage td, #storage tr {
	border-collapse: collapse;
	border: 1px solid #ddd;
}

#storage td {
	padding: 10px;
}
