#contact
  #individuals span, #columns span
    float: left
    clear: both
    margin-bottom: $vertical-subsection-whitespace

  #columns
    width: 100%
    margin-top: $vertical-subsection-whitespace
    float: left

    .column
      background: #efefef
      border: 1px solid #ddd
      padding: 3%

      &:first-child
        float: left
        width: 35%

      &:last-child
        float: right
        width: 45%

      @media (max-width: $tiny-window-width)
        &:first-child, &:last-child
          float: left
          width: 94%
        &:first-child
          margin-bottom: $vertical-subsection-whitespace

  ul
    list-style-type: disc
    list-style-position: inside

    li
      margin-top: 4px
      padding-left: 20px
