body#home
  #welcome-sentence
    float: left
    width: 100%
    text-align: center

    @media (max-width: $content-width-static)
      width: $content-width-dynamic
      margin-left: $window-margin

  #world
    $world-width: 562px
    float: left
    position: relative
    left: 50%
    width: $world-width
    margin-left: $world-width / -2
    margin-top: $vertical-section-whitespace
    background-image: url("../images/world.jpg")
    background-size: 100% 100%

    &:after
      content: ''
      display: block
      position: relative
      width: 100%
      // Set aspect ratio according to parent's width
      padding-top: 95.4%

    @media (max-width: $content-width-static)
      $world-width: 57%
      width: $world-width
      margin-left: $world-width / -2

    canvas
      @include transform(rotate(10deg))
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

    .dot
      position: absolute
      border-radius: 50%
      width: 2%
      height: 2%
      background: $nyu-purple

      &#nyc
        left: 21.7%
        top: 45.1%

      &#abu-dhabi
        left: 71.2%
        top: 55.0%

  #research-intro
    $intro-width-static: 800px
    $intro-padding-static: 30px
    $intro-padding-dynamic: 3%
    float: left
    clear: both
    position: relative
    width: $intro-width-static
    left: 50%
    margin-left: ($intro-width-static / -2) - $intro-padding-static
    padding: $intro-padding-static

    @media (max-width: $content-width-static)
      width: $content-width-dynamic - 2 * ($intro-padding-dynamic)
      left: 0%
      margin-left: $window-margin
      padding: $intro-padding-dynamic

    margin-top: 80px
    margin-bottom: 80px
    background: $green
    text-align: center
    color: black

    a
      color: white

    // Triangle pointing down
    &:after
      display: block
      position: absolute
      left: 50%
      bottom: -10px
      content: " "
      width: 0
      height: 0
      border-left: 10px solid transparent
      border-right: 10px solid transparent
      border-top: 10px solid $green
      margin-left: -10px

  // Research Areas //
  .research-area
    $research-area-padding: 120px
    float: left
    position: relative
    overflow: hidden
    width: 100%
    padding: $research-area-padding 0

    .blurb, .bling
      width: 50%

      @media (max-width: $small-window-width)
        width: 100%

    .blurb
      .text
        margin: 0
        line-height: 175%
        width: 90%

        @media (max-width: $small-window-width)
          width: 80%
          font-size: 16px

    &.left
      .blurb, .bling
        float: left

      .blurb
        .text
          margin-left: 10%

          @media (max-width: $small-window-width)
            margin-right: 10%
    &.right
      .blurb, .bling
        float: right

      .blurb
        .text
          margin-right: 10%

          @media (max-width: $small-window-width)
            margin-left: 10%

    &#cell-bio
      background: black
      color: white

      #video-wrapper
        // Relative for gradient overlay to work
        position: relative
        width: 90%
        margin: 0 5%

        &:after
          content: ''
          display: block
          position: relative
          width: 100%
          // Set aspect ratio according to video's width
          padding-top: 76.8%
          $g1: rgba(0, 0, 0, 0) 0%
          $g2: rgba(0, 0, 0, 0) 21%
          $g3: rgba(0, 0, 0, 0.95) 80%
          $g4: rgba(0, 0, 0, 1) 100%
          @include radial-gradient(center center, ellipse cover, $g1, $g2, $g3, $g4)

        video
          position: absolute
          top: 0
          left: 0
          width: 100%

    &#gi
      // Make text easier to read over background
      .blurb
        .text
          position: relative
          z-index: 2
          display: block
          background: transparentize(white, 0.3)

      .worm-background
        position: absolute
        z-index: 1
        top: 0
        left: 0
        width: 100%
        height: 1000px
        background-repeat: repeat
        &.layer-1
          background-image: url("../images/research/gi_screens/worms-layer-1.png")
          opacity: 0.4
        &.layer-2
          background-image: url("../images/research/gi_screens/worms-layer-2.png")
          opacity: 0.25
        &.layer-3
          background-image: url("../images/research/gi_screens/worms-layer-3.png")
          opacity: 0.15

    &#evolution
      background: $brown
      color: white

      .bling
        position: relative

        img
          width: 60%
          margin: 0 20%

        #mask
          position: absolute
          display: block
          width: 100%
          height: 100%
          right: 0
          bottom: 0
          background: $brown

    &#rna
      background: $cream

      #molecule
        $molecule-width: 678px
        width: $molecule-width
        float: left
        position: relative
        left: 50%
        margin-left: $molecule-width / -2
        background-image: url("../images/research/rna/pq_rna_sprite.png")

        &:after
          content: ''
          display: block
          position: relative
          width: 100%
          // Set aspect ratio according to parent's width
          padding-top: 106.5%

        @media (max-width: 1300px)
          @include transform(scale(.8, .8))
        @media (max-width: $medium-window-width)
          @include transform(scale(.6, .6))
        @media (max-width: $small-window-width)
          @include transform(scale(.8, .8))
        @media (max-width: $tiny-window-width)
          @include transform(scale(.6, .6))

    &#network
      background: $purple
      color: white

      // Make text easier to read over background
      .blurb
        .text
          position: relative
          z-index: 2
          display: block
          background: transparentize($purple, 0.6)

      canvas
        position: absolute
        z-index: 1
        width: 140%
        left: -20%

    &#mouse
      background: $light-green
      padding-bottom: $research-area-padding + $content-bottom-padding

      #drawing-wrapper
        position: fixed
        bottom: -5px
        left: -100%
        width: 380px
        height: 130px

        #drawing
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          background-image: url("../images/research/mouse/mouse_sprite.png")

          &.scrollingDown
            @include transform(scaleX(-1))
