#join
  #sections
    width: 100%

    .section
      margin-bottom: $vertical-section-whitespace

      span
        float: left
        clear: both
        margin-bottom: $vertical-subsection-whitespace

      ul
        list-style-type: disc
        list-style-position: inside

        li
          margin-top: 8px
