#join
  #sections
    width: 100%

    .section
      margin-bottom: $whitespace

      span
        float: left
        clear: both
        margin-bottom: $whitespace / 2

      ul
        list-style-type: disc
        list-style-position: inside

        li
          margin-top: 8px
