#publications
  #submenu
    a
      margin-right: 50px

    hr
      width: 100%
      background: $gray-medium-dark
      margin-top: 15px
      margin-left: 0

  #count
    float: left
    margin: 20px 0 0 0

  .publications
    float: left
    hr:last-child
      display: none

    .publication
      float: left
      margin: 40px 0

      span
        float: left
        clear: both
        margin-bottom: 10px

        &.title
          font-weight: bold

        &.abstract
          font-size: 15px

        &:last-child
          margin-bottom: 0
