#publications
  #pub-menu
    margin-bottom: 15px

    a
      margin-right: 50px

  #pub-line
    width: 100%
    background: $gray-medium-dark
    margin-left: 0

  #pub-count
    float: left
    margin: 20px 0 0 0

  .pub-list
    float: left
    font-size: 15px
    hr:last-child
      display: none

  .publication
    float: left
    margin: 40px 0
