#resources
  #resource-list
    a
      color: $gray-dark

    .resource
      float: left
      width: 90%
      padding: 5%
      margin-bottom: -1px
      margin-top: -1px
      border: 1px solid transparent
      position: relative
      z-index: 1

      &:hover
        border-radius: 15px
        border: 1px solid $gray-medium-light
        background: $gray-light
        position: relative
        z-index: 0

      img
        float: left
        padding: 0
        width: 160px

      span
        float: right
        width: 692px

  hr:last-child
    display: none
