/* Big Bubble Links
 * (generalized to implement elsewhere) */
.resource {
  float: left;
  width: 90%;
  padding: 5%;
  margin-bottom: -1px;
  margin-top: -1px;
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
}

.resource:hover {
  border-radius: 15px;
  border: 1px solid #ddd;
  background: #efefef;
  position: relative;
  z-index: 0;
}

.resource img {
  float: left;
  padding: 0;
  width: 160px;
}

.resource span {
  float: right;
  width: 692px;
  color: #333;
}

#resources hr:last-child {
  display: none;
}
