/********** FONTS / HEADERS **********/
body {
	font-family: 'Computer Modern Bright', Helvetica, sans-serif;
	background: #fff;
	color: #333;
	font-size: 16px;
	line-height: 130%;
}

h1, h2, h3, h4 {
	font-family: 'Computer Modern Bright', Helvetica, sans-serif;
	font-weight: normal;
}

h2 {
	font-size: 24px;
	margin: 0 0 30px;
}

h3 {
	font-size: 15px;
	margin: 0 0 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.subtitle { /* light gray span */
	float: left;
	clear: both;
	font-size: 12px;
	color: #999;
}

/********** LINKS **********/
a {
	text-decoration: none;
	color: #58bb62;
}

a:hover, a.active {
	color: #937AA9;
}

a.active {
	cursor: default;
}

.external-link { /* icon for external links */
	padding-right: 15px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAElJREFUeNpiZMACInYnzQdSCSA2C5DzHyq+YIXrvER0xSwgAijBiEX3ArgCbJIw05iwOAHVKiQ3YHMoVhNgIAHuBlymgABAgAEAuZUbEqLsuG0AAAAASUVORK5CYII=) center right no-repeat;
}

/********** MISCELLANOUS **********/
/* add to parent elements when their children are floating
and parent needs to expand to the children's size. */
.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.invisible {
	display: none;
}

hr { /* horizontal rule line */
	height: 1px;
	width: 70%;
	color: #ddd;
	background-color: #ddd;
	border-width: 0;
	margin-top: 0;
	margin-bottom: 0;
}

/********** PAGE LAYOUT **********/
html, body {
	min-width: 100%;
	margin: 0;
}

#wrap-header, #wrap-content, #wrap-footer {
	width: 100%;
	clear: both;
	float: left;
	min-width: 1000px;
}

#wrap-content {
	padding: 50px 0 150px 0;
}

#header, #content, #footer {
	width: 980px;
	margin: 0 auto;
}

/********** HEADER ONLY **********/
#wrap-header {
	position: relative; /* to accept z-index */
	z-index: 1;
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
	background: black;
}

#header h1 {
	float: left;
	font-size: 36px;
	margin-bottom: 10px;
}

#header h1 a, #header h1 a:hover {
	color: white;
	text-decoration: none;
}

#header h1:hover {
	color: #58bb62;
}

#login {
	padding-top: 10px;
	float: right;
	font-size: 13px;
}

#login a {
	float: left;
	clear: both;
}

#menu {
	float: left;
	font-size: 18px;
	padding: 20px 0;
}

#menu a {
	margin-right: 36px;
	float: left;
}

/********** FOOTER ONLY **********/
#wrap-footer {
	padding: 15px 0 12px 0;
	background: #efefef;
	font-size: 14px;
	color: #333;
	line-height: 1.3;
	border-top: 1px solid #ddd;
}

#nyu-logo {
	float: left;
}

#cgsb-logo {
	float: right;
}

#copyright-lab, #copyright-site {
	padding: 40px 20px;
}

#copyright-lab {
	float: left;
}

#copyright-site {
	float: right;
}
