{% extends "admin/base.html" %}

{% block title %}{{ title }} for Gunsiano Lab Website{% endblock %}

{% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">Lab Website Administration</a>
</h1>
{% endblock %}

{% block nav-global %}
<style type="text/css">
  .admin-menu-item {margin:0 10px 10px;display:block;float:left;}
</style>

<style type="text/css">
  #admin-menu-site-home {float:right;}
</style>

<a href="/" id="admin-menu-site-home" class="admin-menu-item">
  Back To Lab Website
</a>
{% endblock %}
