#protocol-title {
	float: left;
	clear: none;
}

#protocol-authorship {
	float: right;
	clear: none;
}

/* within the protocol */
#protocol h1, #protocol h2, #protocol h3, #protocol h4 {
	clear: both;
	margin: 0;
	margin-bottom: 10px;
}

#protocol p, #protocol ol, #protocol ul {
	clear: both;
	margin: 0;
	margin-bottom: 20px;
}

#protocol ul {
	list-style-type: disc;
	list-style-position: inside;
}

#protocol ol {
	list-style-type: decimal;
	list-style-position: inside;
}
