{% extends 'base.html' %}
{% load extra_tags %}


{% block body_id %}container{% endblock %}
{% block page_title %}
{{ container|get_ancestry_string }}
{% endblock %}


{% block content %}

{% if perms.storage %}
<span id="page-admin-link">
  <a href="{% url 'admin:storage_container_change' container.id %}">
    Edit container</a>
  <br>
  <a href="{% url 'admin:storage_container_add' %}?parent={{ container.id}}">
    Add child</a>
</span>
{% endif %}


{% with stock=container.get_stock %}
{% if stock %}
<a href="{{ stock.get_absolute_url }}">
  Stock: {{ stock }}</a>
{% endif %}
{% endwith %}


<table id="grid">
  {% for row in grid %}
  <tr>
    {% for compartment in row %}
    <td>
      {% for child in compartment %}
      {% include 'child_detail.html' %}
      <br>

      {% empty %}
      <span class='no-record'>No record</span>

      {% endfor %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% if overflow_children %}
<br>
<br>
Position overflow:
<br>
{% for child in overflow_children %}
  {% include 'child_detail.html' %}
  <br>
{% endfor %}
{% endif %}

{% endblock %}
