{% extends "base.html" %}
{% load extra_tags %}

{% block body_id %}storage-detail{% endblock %}
{% block page_title %}Contents of {{ container_title }}{% endblock %}

{% block content %}
<table>
  {% for row in grid %}
  <tr>
    {% for compartment in row %}
    <td>
      {% for child in compartment %}
        {% if child.has_children %}
        <a href={% url 'storage_detail_url' container_id=child.id %}>
        {% elif child.worm %}
        <a href={% url 'strain_url' name=child.worm %}>
        {% endif %}

          <span
            {% if child.notes or child.owner or child.stock %}
              data-hover-tag="
                {% if child.owner %}
                  {{ child.owner.get_full_name }}
                  {% if child.notes or child.stock %}({% endif %}
                {% endif %}

                {% if child.notes %}
                  {{ child.notes }}
                {% endif %}

                {% if child.notes and child.stock %}
                  ;
                {% endif %}

                {% if child.stock %}
                  Prepared
                  {% if child.stock.prepared_by %}
                    by {{ child.stock.prepared_by.get_full_name }}
                  {% endif %}
                  {% if child.stock.date_prepared %}
                    on {{ child.stock.date_prepared }}
                  {% endif %}
                {% endif %}

                {% if child.owner %}
                  {% if child.notes or child.stock %}){% endif %}
                {% endif %}
              "
            {% endif %}
          >
            {{ child }}
          </span>

        {% if child.has_children or child.worm %}
        </a>
        {% endif %}
      <br>
      {% empty %}
      No record
      {% endfor %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
