{% extends 'base.html' %}


{% block body_id %}storage{% endblock %}
{% block page_title %}Outermost Storage Containers{% endblock %}


{% block content %}
<div id="vats">
  {% for container in containers %}
  <div>
    <a href={{ container.get_absolute_url }}>
      <img src="{{ MEDIA_URL }}{{ container.type.image }}"
           title="photo of a {{ container.type }}"
           alt="photo of a {{ container.type }}"/>

      <span
        {% if container.get_hover_string %}
        data-hover-tag="{{ container.get_hover_string }}"
        {% endif %}
      >
        {{ container.get_display_string }}
      </span>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
