.contact-section {
	float: left;
	width: 100%;
	margin-bottom: 40px;
}

.contact-section span {
	float: left;
	clear: both;
	margin-bottom: 10px;
}

.address-selector a {
	margin-right: 15px;
}

#address {
	margin-top: 20px;
}

#address span {
	float: none;
	clear: none;
}
