.contact-section {
	float: left;
	width: 100%;
	margin-bottom: 40px;
}

.contact-section span {
	float: left;
	clear: both;
	margin-bottom: 10px;
}

.contact-section .two-column {
	float: left;
	width: 50%;
}
