#contact span {
	float: left;
	clear: both;
	margin-bottom: 20px;
}

#contact #columns {
	width: 100%;
	margin-top: 20px;
	float: left;
}

#contact .two-column {
	float: left;
	padding: 3%;
	border-radius: 15px;
	background: #efefef;
	border: 1px solid #ddd;
}

#contact .two-column:first-child {
	margin-right: 5%;
	width: 35%;
}

#contact .two-column:last-child {
	width: 45%;
}

#contact ul {
	margin-top: 2px;
	margin-bottom: 0px;
}
