/* styles for home page */
#intro {
	clear: both;
	font-size: 20px; 
	color: black;
	text-align: center;
	background: #58bb62;
	padding: 30px;
	border-radius: 15px;
	margin-bottom: 40px;
	width: 100%;
}

#intro a {
	color: white;
}

#homepage-separator {
	margin: 0 10% 0 10%;
	width: 80%;
}

.research-area {
	float: left;
	clear: both;
	width: 100%;
	padding: 3%;
	margin-top: -1px;
	border: 1px solid white;
	position: relative;
	z-index: 0;
}

.research-area:hover {
	border-radius: 15px;
	border: 1px solid #ddd;
	background: #efefef;
	position: relative;
	z-index: 2;
}

.research-area .left {
	float: left;
}

.research-area .right {
	float: right;
}

.research-area-text {
	float: left;
	clear: none;
	width: 56%;
}

.research-area-text p {
	margin: 0;
}

.research-area-image {
	float: left;
	clear: none;
	width: 36%;
}

.research-area-image img, .research-area-image video {
	width: 100%;
	max-width: 100%;
	float: left;
}
