#employment {
	width: 60%;
}

#employment div {
	margin-bottom: 40px;
}

#employment h3, #employment h4 {
	margin-bottom: 10px;
}

#employment ul {
	list-style-type: disc;
	list-style-position: inside;
}

#employment ul li {
	margin-top: 5px;
}

#employment span {
	float: left;
	clear: both;
	margin-bottom: 20px;
}

#employment a {
	text-decoration: underline;
}
