#pub-menu {
	margin-bottom: 20px;
}

#pub-menu a {
	margin-right: 50px;
}

#pub-line {
	width: 100%;
}

#pub-count {
	margin: 20px 0 40px 0;
}

.publications {
	font-size: 15px;
}

.publication {
	margin: 40px 0;
}

.publications hr:last-child {
	display: none;
}
