/* styles for research areas page */

#research-bubble {
	background: #58bb62;
	text-align: center;
}

/* individual research areas */
.research-area {
	margin: 40px 0;
	float: left;
}

.research-area video, .research-area img, .research-area span {
	width: 48%;
}

.research-orient-left span, .research-orient-right img, .research-orient-right video {
	float: right;
}

.research-orient-right span, .research-orient-left img, .research-orient-left video {
	float: left;
}

#research-areas hr:last-child {
	display: none;
}
