/* styles for research areas page */

/* colorful bubble
 * (generalized to implement elsewhere) */
.colorful-bubble {
	clear: both;
	float: left;
	border-radius: 10px;
	width: 920px;
	padding: 30px;
	margin-bottom: 40px;
	font-size: 20px;
	color: black;
}

.colorful-bubble a {
	color: white;
}

/* specific to this coloful bubble */
#research-bubble {
	background: #58bb62;
	text-align: center;
}

/* individual research areas */
#research-areas hr:last-child {
	display: none;
}

.research-area {
	margin: 40px 0;
	float: left;
}

.research-area span {
	float: left;
	clear: none;
	width: 50%;
}

.research-area img, .research-area video {
	float: left;
	clear: none;
	width: 45%;
}

.research-area img:first-child, .research-area video:first-child, .research-area span:first-child {
	margin-right: 5%;
}
