/* Big Bubble Links
 * (generalized to implement elsewhere) */
.separator {
	float: left;
	clear: both;
	width: 90%;
	margin: -1px 5%;
	height: 1px;
	background: #ddd;
	position: relative;
	z-index: 1;
}

.bubble-link {
	float: left;
	clear: both;
	width: 90%;
	padding: 5%;
	margin-top: -1px;
	border: 1px solid white;
	position: relative;
	z-index: 0;
}

.bubble-link:hover {
	border-radius: 15px;
	border: 1px solid #ddd;
	background: #efefef;
	position: relative;
	z-index: 2;
}

.resource {
	float: left;
	width: 100%;
}

.resource img {
	float: left;
	padding: 0;
	width: 160px;
}

.resource span {
	float: right;
	width: 692px;
	color: #333;
}

.resource-separator {
	float: left;
	clear: both;
	width: 100%;
	height: 1px;
	background: #ddd;
	margin: 20px 0;
}
