#wrap-header {
	position: relative; /* to accept z-index */
	z-index: 1;
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
	background: black;
}

#header h1 {
	float: left;
	font-size: 36px;
	margin-bottom: 10px;
}

#header h1 a, #header h1 a:hover {
	color: white;
	text-decoration: none;
}

#header h1:hover {
	color: #58bb62;
}

#login {
	padding-top: 10px;
	float: right;
	font-size: 13px;
}

#login a {
	float: left;
	clear: both;
}

#menu {
	float: left;
	font-size: 18px;
	padding: 20px 0;
}

#menu a {
	margin-right: 36px;
	float: left;
}
