/* fonts */
body {
	font-family: 'Computer Modern Bright', Helvetica, sans-serif;
	background: #fff;
	color: #333;
	font-size: 16px;
	line-height: 130%;
}

h1, h2, h3, h4 {
	font-family: 'Computer Modern Bright', Helvetica, sans-serif;
	font-weight: normal;
}

h1 {
	color: #333;
	font-size: 36px;
}

h1:hover {
	color: #58bb62;
}

h2 {
	font-size: 24px;
	margin: 0 0 30px;
}

h3 {
	font-size: 15px;
	margin: 0 0 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #58bb62;
}

a:hover, a.active {
	text-decoration: underline;
}

a.active {
	cursor: default;
}

/* page layout */
html, body {
	min-width: 100%;
	margin: 0;
}

#wrap-header, #wrap-content, #wrap-footer {
	width: 100%;
	clear: both;
	float: left;
	min-width: 1000px;
}

#wrap-header {
	position: relative; /* to accept z-index */
	z-index: 1;
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

#wrap-content {
	padding: 50px 0 100px 0;
}

#header, #content, #footer {
	width: 980px;
	margin: 0 auto;
}

/* light gray span */
.subtitle {
	float: left;
	clear: both;
	font-size: 12px;
	color: #999;
}

/* icon for external links */
.external {
	padding-right: 15px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAElJREFUeNpiZMACInYnzQdSCSA2C5DzHyq+YIXrvER0xSwgAijBiEX3ArgCbJIw05iwOAHVKiQ3YHMoVhNgIAHuBlymgABAgAEAuZUbEqLsuG0AAAAASUVORK5CYII=) center right no-repeat;
} 

/* add to parent elements when their children are floating
and parent needs to expand to the children's size. */
.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.invisible {
	display: none;
}
