#strains {
	border-collapse: collapse;
}

#strains, #strains td, #strains tr {
	border: 1px solid #ddd;
	padding: 4px 6px;
}

#top-row {
	font-weight: bold;
	text-align: center;
}

#strain-column {
	width: 95px;
}

#species-column {
	width: 95px;
}
