#strain-sections {
	float: left;
}

#strain-sections h4 {
	text-align: center;
	color: #aaa;
	font-weight: bold;
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
}

#strain-sections hr {
	height: 1px;
	width: 70%;
	color: #aaa;
	background-color: #aaa;
	border-width: 0;
	margin-top: 0;
	margin-bottom: 0;
}	

.strain-section {
	float: left;
	width: 100%;
	margin: 10px -10px;
	width: 1000px;
}

#strain-sections .strain-section:first-child {
	margin-top: 0;
}

.strain-subsection {
	margin: 10px;
	float: left;
}

.strain-line {
	width: 100%;
}
