#strain-sections {
	float: left;
}

#strain-sections h4 {
	text-align: center;
	color: #aaa;
	font-weight: bold;
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.strain-section {
	float: left;
	width: 100%;
	margin: 10px -10px;
	width: 1000px;
}

#strain-sections .strain-section:first-child {
	margin-top: 0;
}

.strain-subsection {
	margin: 10px;
	float: left;
}

.strain-lines {
	list-style-position: inside;
	padding-left: 0;
	width: 100%;
}

.strain-lines .tubes {
	display: inline-block;
}

.strain-lines table, .strain-lines td {
	border: 1px solid #ddd;
	border-collapse: collapse;
	padding: 3px;
	margin-top: 5px;
}
