<!DOCTYPE html>
<html lang="en">
	<!-- HEAD -->
	{% include "head.html" %}

	<body id="{% block body_id %}{% endblock %}">
		<div id="wrap-header">
			<div id="header" class="clearfix">
				<!-- Site Title -->
				<h1><a href="{% url 'home_url' %}">Gunsalus and Piano Labs</a></h1>
				<div id="login">
					{% url 'lab_tools_url' as lab_tools_url %}
					{% if user.is_authenticated %}
						<a href="{% url 'logout_url' %}">Logout</a>
						<a href="{% url 'admin:index' %}">Admin</a>
						<a href="{{ lab_tools_url }}"
							{% ifequal request.path lab_tools_url %}
								class="active"
							{% endifequal %}>
							Lab Tools
						</a>
					{% else %}
						{% url 'login_url' as login_url %}
						<a href="{{ login_url }}"
						{% ifequal request.path login_url %}
							class="active"
						{% endifequal %}>Login</a>
					{% endif %}
				</div>

				<span class="subtitle">
					at New York University's Center for Genomics and Systems Biology
				</span>

				<!-- MENU -->
				{% include "menu.html" %}
			</div>
		</div>

		<div id="wrap-content">
			<div id="content">
				<!-- PAGE TITLE -->
				<h2 id="page-title"
						{% block page_title_style %}{% endblock %}
				>
					{% block page_title %}{% endblock %}
				</h2>

				<!-- REST OF CONTENT -->
				{% block content %}{% endblock %}
			</div>
		</div>

		<!-- FOOTER -->
		{% include "footer.html" %}
	</body>
</html>
