<div id="wrap-footer">
	<div id="footer">
		<div id="logos">
			<a href="http://www.nyu.edu/">
				<img alt="NYU logo" src="{{ STATIC_URL }}img/nyu-logo.png"/>
			</a>

			<a href="http://nyuad.nyu.edu/">
				<img alt="NYU Abu Dhabi logo" src="{{ STATIC_URL }}img/nyuad-logo.png"/>
			</a>

			<a href="http://cgsb.as.nyu.edu/">
				<img alt="NYU CGSB logo" src="{{ STATIC_URL }}img/cgsb-logo.png"/>
			</a>
		</div>

		<div id="copyright">
			<span>
				Content copyright Drs.
				<a href="http://biology.as.nyu.edu/object/KrisGunsalus.html">
					Kris Gunsalus</a>
				and
				<a href="http://biology.as.nyu.edu/object/FabioPiano.html">
					Fabio Piano</a>
				<br>
				<a href="http://cgsb.as.nyu.edu/">
					Center for Genomics and Systems Biology</a>,
				<a href="http://www.nyu.edu/">
					NYU</a>,
				{% now "Y" %}
			</span>

			<span>
				Website by
				<a href="http://www.katherineerickson.com/">
					Katherine Erickson</a>
				<br>
				Code on
				<a href="https://github.com/katur/gunsiano">
					GitHub</a>,
				{% now "Y" %}
			</span>
		</div>
	</div>
</div>
