<div id="wrap-footer">
	<div id="footer">
		<div id="logos">
			<a href="http://www.nyu.edu/" target="_blank">
				<img src="{{ STATIC_URL }}img/nyu-logo.png" />
			</a>
			
			<a href="http://nyuad.nyu.edu/" target="_blank">
				<img src="{{ STATIC_URL }}img/nyuad-logo.png" />
			</a>
		
			<a href="http://cgsb.as.nyu.edu/" target="_blank">
				<img src="{{ STATIC_URL }}img/cgsb-logo.png" />
			</a>
		</div>

		<div id="copyright">
			<span>
				Content copyright Drs. <a href="http://biology.as.nyu.edu/object/FabioPiano.html" target="_blank">Fabio Piano</a>
				and <a href="http://biology.as.nyu.edu/object/KrisGunsalus.html" target="_blank">Kris Gunsalus</a>
				<br>
				<a href="http://cgsb.as.nyu.edu/" target="_blank">Center for Genomics and Systems Biology</a>,
				<a href="http://www.nyu.edu/" target="_blank">NYU</a>, 2013
			</span>

			<span>
				Website: <a href="http://www.katherineerickson.com/" target="_blank">Katherine Erickson</a>
				<br>
				Code on <a href="https://github.com/katur/gunsiano" target="_blank">GitHub</a>, 2013
			</span>
		</div>
	</div>
</div>
