<div id="wrap-footer">
	<div id="footer">
		<a href="http://www.nyu.edu/" target="_blank">
			<img id="nyu-logo" src="{{ STATIC_URL }}logos/nyu-logo.png" />
		</a>
		
		<div id="copyright-lab">	
			Content copyright Drs. <a href="http://biology.as.nyu.edu/object/FabioPiano.html" target="_blank">Fabio Piano</a>
			and <a href="http://biology.as.nyu.edu/object/KrisGunsalus.html" target="_blank">Kris Gunsalus</a>
			<br>
			<a href="http://cgsb.as.nyu.edu/" target="_blank">Center for Genomics and Systems Biology</a>,
			<a href="http://www.nyu.edu/" target="_blank">NYU</a>, 2013
			<br>
		</div>
		
		<a href="http://cgsb.as.nyu.edu/" target="_blank">	
			<img id="cgsb-logo" src="{{ STATIC_URL }}logos/cgsb-logo.png" />
		</a>
		
		<div id="copyright-site">
			Website: <a href="http://www.katherineerickson.com/" target="_blank">Katherine Erickson</a>
			<br>
			Code on <a href="https://github.com/katur/gunsiano" target="_blank">GitHub</a>, 2013
		</div>
	</div>
</div>
