<div id="header" class="clearfix">
  <div id="site-title">
    <h1>
      <a href="{% url 'home_url' %}">Gunsalus and Piano Labs</a>
    </h1>
    <!--<span class="subtitle">
      at New York University's Center for Genomics and Systems Biology
    </span>-->
  </div>

  <div id="site-menu">
    {% url 'home_url' as home_url %}
    {% url 'lab_members_url' as lab_members_url %}
    {% url 'publications_url' as publications_url %}
    {% url 'resources_url' as resources_url %}
    {% url 'join_url' as join_url %}
    {% url 'contact_url' as contact_url %}

    <a href="{{ home_url }}"
        {% ifequal request.path home_url %}
        class="active"
        {% endifequal %}>
      Home
    </a>

    <a href="{{ lab_members_url }}"
        {% ifequal request.path lab_members_url %}
        class="active"
        {% endifequal %}>
      Lab Members
    </a>

    <a href="{{ resources_url }}"
        {% ifequal request.path resources_url %}
        class="active"
        {% endifequal %}>
      Resources
    </a>

    <a href="{{ publications_url }}"
        {% ifequal request.path publications_url %}
        class="active"
        {% endifequal %}>
      Publications
    </a>

    <a href="{{ join_url }}"
        {% ifequal request.path join_url %}
        class="active"
        {% endifequal %}>
      Join
    </a>

    <a href="{{ contact_url }}"
        {% ifequal request.path contact_url %}
        class="active"
        {% endifequal %}>
      Contact
    </a>

    <div id="login-wrapper">
      <div id="login-bubble" class="bubble">
        {% url 'lab_tools_url' as lab_tools_url %}
        {% if user.is_authenticated %}
        <a id="welcome-message" href="#">
          Welcome, {{ user.first_name }}!
        </a>

        {% else %}
        {% url 'login_url' as login_url %}
        <a href="{{ login_url }}"
            {% ifequal request.path login_url %}
            class="active"
            {% endifequal %}>
          Login
        </a>
        {% endif %}
      </div>

      {% if user.is_authenticated %}
      <div id="dropdown">
        <a href="{{ lab_tools_url }}"
          {% ifequal request.path lab_tools_url %}
          class="active"
          {% endifequal %}>
        Tools
        </a>
        <a href="{% url 'admin:index' %}">Admin</a>
        <a href="{% url 'logout_url' %}">Logout</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
