<head>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <link href="{{ STATIC_URL }}images/favicon.ico"
    rel="icon" type="image/x-icon">

  <link href="{{ STATIC_URL }}fonts/ComputerModernBright/cmun-bright.css"
    rel="stylesheet" type="text/css" />
  <link href="{{ STATIC_URL }}fonts/ComputerModernSerif/cmun-serif.css"
    rel="stylesheet" type="text/css" />

  <link href="{{ STATIC_URL }}stylesheets/styles.css"
    rel="stylesheet" type="text/css" />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    type="text/javascript"></script>

  <script src="{{ STATIC_URL }}js/skrollr.js" type="text/javascript">
  </script>

  <script src="{{ STATIC_URL }}js/home.js" type="text/javascript">
  </script>

  <script src="{{ STATIC_URL }}js/universal.js" type="text/javascript">
  </script>

  <script src="{{ STATIC_URL }}js/strains.js" type="text/javascript">
  </script>

 <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-10086645-4', 'gunsiano.herokuapp.com');
    ga('send', 'pageview');
  </script>

  <title>Gunsalus and Piano Labs Website</title>
</head>
