<!DOCTYPE html>
<html lang="en">
	<!-- HEAD -->
	{% include "head.html" %}

	<body>
		<div id="wrap-header">
			<div id="header" class="clearfix">
				<!-- Site Title -->
				<h1><a href="{% url 'home_url' %}">Gunsalus and Piano Labs</a></h1>
				<div id="login">
					{% if user.is_authenticated %}
						<a href="{% url 'logout_url' %}">Logout</a>
					{% else %}
						{% url 'login_url' as login_url %}
						<a href="{{ login_url }}"
						{% ifequal request.path login_url %}
							class="active"
						{% endifequal %}>Login</a>
					{% endif %}
				</div>
				<span class="subtitle">at New York University's Center for Genomics and Systems Biology</a>

				<!-- MENU -->
				{% include "menu.html" %}
			</div>
		</div>

		<div id="wrap-content">
			<div id="content">
				<!-- PAGE TITLE -->
				{% block page_title %}{% endblock %}

				<!-- REST OF CONTENT -->
				{% block content %}{% endblock %}
			</div>
		</div>

		<!-- FOOTER -->
		{% include "footer.html" %}
	</body>
</html>
