<head>
	<link href="{{ STATIC_URL }}images/favicon.ico" rel="icon" type="image/x-icon">
	<link href="{{ STATIC_URL }}css/universal.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/header.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/footer.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/home.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/lab_members.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/lab_member.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/research.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/resources.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/contact.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/strains.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}fonts/ComputerModernBright/cmun-bright.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}fonts/ComputerModernSerif/cmun-serif.css" rel="stylesheet" type="text/css" />
	<title>Gunsalus and Piano Labs Website</title>
</head>
