<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}

  <body id="{% block body_id %}{% endblock %}">
    <div id="wrap-header">
      {% include "header.html" %}
    </div>

    <div id="wrap-content">
      <div id="content">
        <!-- Page Title -->
        <h2 id="page-title" {% block page_title_style %}{% endblock %}>
          {% block page_title %}{% endblock %}
        </h2>

        <!-- Remainder of Content -->
        {% block content %}{% endblock %}
      </div>
    </div>

    <!-- Footer -->
    {% include "footer.html" %}
  </body>
</html>
