<!DOCTYPE html>
<html lang="en">
	<!-- HEAD -->
	{% include "head.html" %}
				
	<body>
		<div id="wrap-header">
			<div id="header" class="clearfix">
				<!-- Site Title -->
				<a href="{% url 'home_url' %}"><h1>Gunsalus and Piano Labs as NYU</h1></a>
				<span class="subtitle">at New York University's Center for Genomics and Systems Biology</a>
			
				<!-- MENU -->
				{% include "menu.html" %}
			</div>
		</div>
		
		<div id="wrap-content">
			<div id="content">
				<!-- PAGE TITLE -->
				{% block page_title %}{% endblock %}
				
				<!-- REST OF CONTENT -->
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>
