{% extends 'base.html' %}

{% block page_title %}
	<h2>Contact</h2>
{% endblock %}

{% block content %}
	<div class="contact-section">
		<h3>Email</h3>
		<span>
			Dr. Kris Gunsalus:
			<a href="mailto:kcg1@nyu.edu">
				kcg1@nyu.edu
			</a>
		</span>
		<span>
			Dr. Fabio Piano:
			<a href="mailto:fp1@nyu.edu">
				fp1@nyu.edu
			</a>
		</span>
		<span>
			Jessica Lucas, New York Lab Manager:
			<a href="mailto:jl199@nyu.edu">
				jl199@nyu.edu
			</a>
		</span>
	</div>
	
	<div class="contact-section">
		<h3>Telephone</h3>
		<span>
			Jessica Lucas, New York Lab Manager: 
			<a href="tel:212.992.6958">212-992-6958</a>
		</span>
		<span>
			Gunsalus Lab Phone, New York: 
			<a href="tel:212.998.7794">212-998-7794</a>
		</span>
		<span>
			Piano Lab Phone, New York: 
			<a href="tel:212.992.9563">212-992-9563</a>
		</span>
	</div>
	
	<div class="contact-section">
		<h3>Address</h3>
		<span class="address-selector">
			Select a PI:
			<a href="#" data-lab="Laboratory of Kris Gunsalus">Gunsalus</a> 
			<a href="#" data-lab="Laboratory of Fabio Piano">Piano</a>
			<a href="#" data-lab="Gunsalus and Piano Labs">both</a>
		</span>
		<span class="address-selector">
			Select location:
			<a href="#" data-city="
				NYU Abu Dhabi, Center for Science and Engineering<br>
				Block C Building, Abu Dhabi Business Hub<br>
				Industrial City of Abu Dhabi (ICAD 1), 
				Plot No. 1, Sector M41<br>
				Musaffah, Abu Dhabi, United Arab Emirates
			">Abu Dhabi</a> 
			<a href="#" data-city="
				NYU Center for Genomics and Systems Biology<br>
				12 Waverly Place<br>
				<span id='floor-detail'>
				New York, NY, U.S.A.
			">New York City</a>
		</span>
		<span class="address-selector">
			Select type of mail:
			<a href="#" data-address-type="visiting">visiting</a> 
			<a href="#" data-address-type="regular">regular mail</a> 
			<a href="#" data-address-type="packages">packages</a>
		</span>
		<span id="address">
			<span id="laboratory"></span><br>
			<span id="location"></span>
		</span>
	</div>
{% endblock content %}
