{% extends "base.html" %}
{% load extra_tags %}

{% block body_id %}home{% endblock %}
{% block page_title_style %}class="no-page-title"{% endblock %}

{% block content %}
<span id="welcome-sentence">
  Welcome to the labs of Drs.
  <a href="{{ kris.userprofile.url }}">
    {{ kris.get_full_name }}</a>
  and
  <a href="{{ fabio.userprofile.url }}">
    {{ fabio.get_full_name }}</a>
  at NYU New York City and NYU Abu Dhabi.
</span>

<div id="world">
  <canvas width="562" height="536"></canvas>
  <div id="nyc" class="dot"></div>
  <div id="abu-dhabi" class="dot"></div>
</div>

<div id="research-intro" class="colorful-bubble">
  We study the genetic and evolutionary mechanisms
  underlying early embryonic development.
</div>

<div id="research-areas">
  <div id="tester"></div>

  <div id="cell-bio" class="research-area left">
    <div class="blurb">
      <div class="text">
        <h3>{{ cell.name }}</h3>
        {{ cell.description|enhanced_markdown }}
      </div>
    </div>

    <div class="bling">
      <div id="video-wrapper">
        <video loop autoplay title="GFP::Moesin in early embryogenesis">
          <source src="{{ STATIC_URL }}videos/nathalie.mp4" type="video/mp4"/>
          <source src="{{ STATIC_URL }}videos/nathalie.ogv" type="video/ogg"/>
          Your browser does not support HTML5 video
        </video>
        <div id="video-overlay"></div>
      </div>
    </div>
  </div>

  <div id="gi" class="research-area right">
    <div class="blurb">
      <div class="text">
        <h3>{{ gi.name }}</h3>
        {{ gi.description|enhanced_markdown }}
      </div>
    </div>

    <div class="worm-background layer-1"></div>
    <div class="worm-background layer-2"></div>
    <div class="worm-background layer-3"></div>
  </div>

  <div id="evolution" class="research-area left">
    <div class="blurb">
      <div class="text">
        <h3>{{ evolution.name }}</h3>
        {{ evolution.description|enhanced_markdown }}
      </div>
    </div>

    <div class="bling">
      <img alt="nematode phylogeny tree"
          src="{{ STATIC_URL }}images/research/evolution/tree.png" />
      <div id="mask"></div>
    </div>
  </div>

  <div id="rna" class="research-area right">
    <div class="blurb">
      <div class="text">
        <h3>{{ rna.name }}</h3>
        {{ rna.description|enhanced_markdown }}
      </div>
    </div>

    <div class="bling">
      <div id="molecule"></div>
    </div>
  </div>

  <div id="network" class="research-area left">
    <div class="blurb">
      <div class="text">
        <h3>{{ network.name }}</h3>
        {{ network.description|enhanced_markdown }}
      </div>
    </div>
    <canvas class="layer-3"></canvas>
    <canvas class="layer-2"></canvas>
    <canvas class="layer-1"></canvas>
  </div>

  <div id="mouse" class="research-area right">
    <div class="blurb">
      <div class="text">
        <h3>{{ mouse.name }}</h3>
        {{ mouse.description|enhanced_markdown }}
      </div>
    </div>

    <div id="drawing-wrapper">
      <div id="drawing"></div>
    </div>
  </div>
</div>
{% endblock content %}
