{% extends 'base.html' %}

{% block page_title %}
	Join the Lab
{% endblock %}

{% block content %}
	<div id="employment">
		<div>
			<h4>Prospective Graduate Students</h4>
			Prospective graduate students should first be admitted
			into a graduate program.
			Please see the following:
			<ul>
				<li>
					<a class="external-link"
							href="http://biology.as.nyu.edu/page/graduate.programs">
						NYU Graduate Programs in Biology
					</a>
				</li>
				<li>
					<a class="external-link"
							href="http://cs.nyu.edu/webapps/content/academic/graduate/">
						NYU Graduate Programs in Computer Science
					</a>
				</li>
				<li>
					<a class="external-link"
							href="http://nyuad.nyu.edu/academics/graduate-programs.html">
							NYU Abu Dhabi Global Research Fellows Program
					</a>
				</li>
			</ul>
		</div>

		<div>
			<h4>Current Graduate Students</h4>
			Current graduate students seeking research opportunities
			should email Lab Manager Jessica Lucas at
			<a href="mailto:jl199@nyu.edu">jl199@nyu.edu</a>.
			Please include a cover letter and your resume or CV.
		</div>

		<div>
			<h4>Employment Opportunties in Abu Dhabi</h4>
			The Center for Genomics and Systems Biology at NYU Abu Dhabi
			is currently inviting applications for multiple Bioinformatics Software
			Engineer positions.
			These personnel will form the nucleus of a new bioinformatics
			core group to support multiple large-scale projects
			in the new NYU Abu Dhabi Center for Genomics and Systems Biology
			as part of a larger NYUAD Research Institute initiative.
			These position are NOT located in the United States.
			You must be willing to relocate to Abu Dhabi, United Arab Emirates.
			NYU Abu Dhabi is an Equal Opportunity/Affirmative Action Employer.
			<ul>
				<li>
					<a class="external-link"
							href="http://www.nyuopsearch.com/applicants/Central?quickFind=51346">
						Software Engineer position
					</a>
				</li>
				<li>
					<a class="external-link"
							href="http://www.nyuopsearch.com/applicants/Central?quickFind=51345">
						Research Scientist position
					</a>
				</li>
			</ul>
		</div>

		<div>
			<h4>Other Inquiries</h4>
			For all other questions about research opportunities in the lab,
			please email Lab Manager Jessica Lucas at
			<a href="mailto:jl199@nyu.edu">jl199@nyu.edu</a>.
		</div>
	</div>
{% endblock content %}
