{% extends 'base.html' %}

{% block page_title %}
	<h2>Lab Members</h2>
{% endblock %}

{% block content %}
	<div id="lab-members-photo" class="colorful-bubble">
		<img
			title="LabRetreat2011"
			src="{{ STATIC_URL }}images/LabRetreat2011.jpg"
			width="720" height="481"
		/>
		<span class="subtitle">
			Gunsiano Lab Retreat, Catskills, 2011
		</span>
	</div>

	<div id="lab-members-list">
		<div>
			{% regroup current by position.position as position_list %}
			{% for position in position_list %}
				{% if position.grouper == "Lab Manager" %}
					</div><div>
				{% endif %}

				<h3>{{ position.grouper }}s</h3>
				<ul>
					{% for profile in position.list %}
						<li>
							{% if profile.blurb %}
								<a href="{% url 'lab_member_url' username=profile.user.get_username %}">
							{% elif profile.url %}
								<a class="external-link" href="{{ profile.url }}">
							{% endif %}
							{{ profile.user.get_full_name }}{% if profile.blurb or profile.url %}</a>{% endif %}

							<span class="nyu-location">{{ profile.location }}</span>
						</li>
					{% endfor %}
				</ul>
			{% endfor %}
		</div>

		<div>
			<h3>Former Lab Members</h3>
			{% for profile in former %}
				<li>
					{% if profile.blurb %}
						<a href="{% url 'lab_member_url' username=profile.user.get_username %}">
					{% elif profile.url %}
						<a class="external-link" href="{{ profile.url }}">
					{% endif %}
					{{ profile.user.get_full_name }}{% if profile.blurb or profile.url %}</a>{% endif %}

					<span class="nyu-location">{{ profile.location }}</span>
				</li>
			{% endfor %}
		</div>
	</div>
{% endblock content %}
