{% extends "base.html" %}
{% load extra_tags %}

{% block body_id %}lab_member{% endblock %}
{% block page_title %}
  {{ member.get_full_name }}
{% endblock %}

{% block content %}
<div id="profile">
  {% if member.userprofile.blurb %}
  <span>
    {{ member.userprofile.blurb|enhanced_markdown }}
  </span>
  {% endif %}

  {% if member.userprofile.image_filename %}
  <img src="{{ STATIC_URL }}images/lab_members/{{ member.userprofile.image_filename }}"
      alt="profile pic for this lab member"/>
  {% endif %}
</div>
{% endblock content %}
