{% extends "base.html" %}

{% block page_title %}
	<h2>Internal Lab Tools</h2>
{% endblock %}

{% block content %}
	<ul id="lab-tools">
		<!--
		<li><a href="">
			Protocols and Recipes
		</a></li>
		-->

		<li><a href="{% url 'strains_url' %}">
			Worm Strains Database
		</a></li>

		<li><a href="{% url 'storage_url' %}">
			Storage Navigation Database
		</a></li>

		<li><a class="external-link" href="http://aquila.bio.nyu.edu/EEGI/" target="_blank">
			Genetic Interactions Pilot website
		</a></li>

		<li><a class="external-link" href="http://pleiades.bio.nyu.edu/GenomeWideGI/" target="_blank">
			Genome-Wide Genetic Interactions website
		</a></li>

		<!--
		<li><a href="">
			Bacterial Clone Database</li>
		</a></li>

		<li><a href="">
			Vector (& Plasmid) Database</li>
		</a></li>

		<li><a href="">
			Primer Database
		</a></li>

		<li><a href="">
			Antibody Database
		</a></li>

		<li><a href="">
			Chemical Database
		</a></li>
		-->
	</ul>
{% endblock content %}
