{% extends "base.html" %}

{% block body_id %}lab_tools{% endblock %}
{% block page_title %}Internal Lab Tools{% endblock %}

{% block content %}
<ul id="lab-tools">
  <li><a href="{% url 'strains_url' %}">
    Worm Strains
  </a></li>

  <li><a href="{% url 'storage_url' %}">
    Storage
  </a></li>

  <li><a href="{% url 'protocols_url' %}">
    Protocols
  </a></li>

  <li>
    <a class="external-link"
        href="http://web600-01.bio.nyu.edu/1.html">
      7th floor Sensaphone freezer monitor*
    </a>
  </li>

  <li>
    <a class="external-link"
        href="http://web600-02.bio.nyu.edu/">
      LL2 Sensaphone freezer monitor*
    </a>
  </li>

  <li>
    <a class="external-link"
        href="http://aquila.bio.nyu.edu/EEGI/">
      Genetic Interactions: Pilot
    </a>
  </li>

  <li>
    <a class="external-link"
        href="http://pleiades.bio.nyu.edu/GenomeWideGI/">
      Genetic Interactions: Genome-Wide
    </a>
  </li>
</ul>

<div id="lab-tools-footnotes">
  * Sensaphone site down? Try power-cycling the units.
  Disconnect the back-up battery, then the power adapter,
  and leave unplugged a few minutes. Then reconnect the battery
  and power adapter. If that doesn't work, contact John Bako.
</div>

{% endblock content %}
