{% extends 'base.html' %}

{% block page_title %}
	<h2>Lab Members</h2>
{% endblock %}

{% block content %}
	<div id="lab-members-photo" class="colorful-bubble">
		<img
			title="LabRetreat2011" 
			src="{{ STATIC_URL }}images/LabRetreat2011.jpg" 
			width="720" height="481" 
		/>
		<span class="subtitle">
			Gunsiano Lab Retreat, Catskills, 2011
		</span>
	</div>
	
	<div id="lab-members-list">
		<div>
			{% regroup profiles by display_position as position_list %}
			
			{% for position in position_list %}
				{% ifequal position.grouper "Lab Manager" %}
					</div><div>
				{% endifequal %}
				
				{% ifequal position.grouper "Former Lab Member" %}
					</div><div class="rightmost">
				{% endifequal %}
				
				<h3>{{ position.grouper }}s</h3>
				<ul>	
					{% for profile in position.list %}
						<li>
							{% if profile.blurb %}
								<a href="{% url 'lab_member_url' username=profile.user.get_username %}">
							{% elif profile.website %}
								<a target="_blank" href="{{ person.website }}">
							{% endif %}
							{{ profile.user.get_full_name }}{% if profile.blurb or profile.website %}</a>{% endif %}
							
							<span class="nyu-location">
								{% if profile.in_abu_dhabi %}
									NYUAD
								{% elif profile.in_abu_dhabi == 0 %}
									NYUNY
								{% else %}
									NYUAD/NY
								{% endif %}
							</span>
						
							{% if not person.is_current %}
								<span class="lab-member-position">{{ person.position.position }}</span>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			{% endfor %}
		</div>
	</div>
{% endblock content %}
