<div id="menu">
	{% url 'website.views.home' as url_home %}
	{% url 'website.views.lab_members' as url_lab_members %}
	{% url 'website.views.contact' as url_contact %}
	
	<a href="{{ url_home }}" {% ifequal request.path url_home %}class="active"{% endifequal %}>Home</a> 
	<a href="{{ url_lab_members }}" {% ifequal request.path url_lab_members %}class="active"{% endifequal %}>Lab Members</a>
	<a href="{{ url_contact }}" {% ifequal request.path url_contact %}class="active"{% endifequal %}>Contact</a>
</div>
