{% extends 'base.html' %}
{% load extra_tags %}


{% block body_id %}person{% endblock %}
{% block page_title %}{{ person.get_full_name }}{% endblock %}


{% block content %}
<div id="profile">
  {% if person.userprofile.blurb %}
  <span>
    {{ person.userprofile.blurb|enhanced_markdown }}
  </span>
  {% endif %}

  {% if person.userprofile.image %}
  <img
    src="{{ MEDIA_URL }}{{ person.userprofile.image }}"
    alt="{{ person }} profile picture" />
  {% endif %}
</div>
{% endblock content %}
