{% extends "base.html" %}

{% block body_id %}publications{% endblock %}
{% block page_title %}Publications{% endblock %}

{% block content %}
<div id="pub-menu">
  <a id="pub-both" class="active" href="#">Kris or Fabio</a>
  <a id="pub-kris" href="#">Kris</a>
  <a id="pub-fabio" href="#">Fabio</a>
</div>

<hr id="pub-line">

<div id="pub-count">
  <span class="pub-both count-both">
    {{ pub_both|length }}
  </span>
  <span class="pub-kris invisible">
    {{ pub_kris|length }}
  </span>
  <span class="pub-fabio invisible">
    {{ pub_fabio|length }}
  </span>
  publications (pulled from
  <a href="http://www.ncbi.nlm.nih.gov/pubmed">PubMed</a>)
</div>

<div class="publications pub-both">
  {% for item in pub_both %}
  <div class="publication">
    {{ item.description|safe }}
  </div>
  <hr>
  {% endfor %}
</div>

<div class="publications pub-kris invisible">
  {% for item in pub_kris %}
  <div class="publication">
    {{ item.description|safe }}
  </div>
  <hr>
  {% endfor %}
</div>

<div class="publications pub-fabio invisible">
  {% for item in pub_fabio %}
  <div class="publication">
    {{ item.description|safe }}
  </div>
  <hr>
  {% endfor %}
</div>
{% endblock content %}
