{% extends "base.html" %}

{% block page_title %}
	<h2>Research Areas</h2>
{% endblock %}

{% block content %}
	<div id="research-bubble" class="colorful-bubble">
		We study the genetic and evolutionary mechanisms underlying early embryonic development.
	</div>

	<div id="research-areas">
		{% for area in research_areas %}
			<div class="research-area research-orient-{{ area.orientation}}">
				{% if area.filename_is_video %}
				<video loop autoplay>
					<source src='{{ STATIC_URL }}videos/{{ area.filename }}' type="video/mp4">
					Your browser does not support HTML5 video
				</video>
				{% else %}
					<img src='{{ STATIC_URL }}images/research_areas/{{ area.filename }}'>
				{% endif %}
				<span>
					<h3>{{ area }}</h3>
					{{ area.description }}
				</span>
			</div>
			<hr>
		{% endfor %}
	</div>
{% endblock content %}
