{% extends 'base.html' %}
{% load extra_tags %}


{% block body_id %}resources{% endblock %}
{% block page_title %}Lab-Generated Community Resources{% endblock %}


{% block content %}
{% for resource in resources %}
<div id="resource-list">
  <a href="{{ resource.url }}">
    <div class="resource">
      <img width="160px"
        src="{{ MEDIA_URL }}{{ resource.logo }}"
        title="logo for {{ resource.name }}"
        alt="logo for {{ resource.name }}" />

      <span>
        {{ resource.description|enhanced_markdown }}
      </span>
    </div>
  </a>
</div>

<hr>
{% endfor %}
{% endblock content %}
