{% extends "base.html" %}

{% block body_id %}strains{% endblock %}
{% block page_title %}Worm Strains{% endblock %}

{% block content %}
<form action={% url 'strains_url' %} method="get">
  <input type="text" name="query">
  <input type="submit" value="Search">
</form>

<span>{{ strains|length }} strains</span>

<table id="strain-table">
  <thead>
    <tr>
      <th id="strain-column">Strain Name</th>
      <th>Genotype</th>
    </tr>
  </thead>

  {% for strain in strains %}
  <tr>
    <td>
      <a href={% url 'strain_url' name=strain %}>
        {{ strain }}
      </a>
    </td>

    <td>{{ strain.genotype }}</td>
  </tr>
  {% endfor %}
</table>

<table id="table-thead-fixed"></table>
{% endblock %}
