{% extends 'base.html' %}
{% load extra_tags %}


{% block body_id %}strain{% endblock %}
{% block page_title %}{{ strain }}{% endblock %}


{% block content %}
<div id="sections">
  <!-- Identification -->
  {% if strain.species or strain.on_wormbase or strain.genotype %}
  <div class="section">
    {% if strain.species %}
    <span>
      <b>Species:</b> <i>{{ strain.species }}</i>
    </span>
    {% endif %}

    {% if strain.on_wormbase %}
    <span>
      <a class="external-link" href="{{ strain.get_wormbase_url }}">
        See strain on wormbase
      </a>
    </span>
    {% endif %}

    {% if strain.genotype %}
    <span>
      <b>Genotype:</b> {{ strain.genotype }}
    </span>
    {% endif %}
  </div>
  {% endif %}

  <!-- Origin -->
  {% if strain.created_by or strain.lab or strain.date_created or strain.mutagen %}
  <hr>
  <h4>Origin</h4>

  <div class="section">
    {% if strain.created_by %}
    <span>
      <b>Made by:</b> {{ strain.created_by.get_full_name }}
    </span>
    {% endif %}

    {% if strain.lab %}
    <span>
      <b>Lab:</b> {{ strain.lab }}
    </span>
    {% endif %}

    {% if strain.date_created %}
    <span>
      <b>Made on:</b> {{ strain.date_created }}
    </span>
    {% endif %}

    {% if strain.mutagen %}
    <span>
      <b>Mutagen or Method Used:</b> {{ strain.mutagen }}
    </span>
    {% endif %}

    {% if strain.parent_strain %}
    <span>
      <b>Parent Strain:</b> {{ strain.parent_strain }}
    </span>
    {% endif %}
  </div>
  {% endif %}

  <!-- Other information -->
  {% if strain.remarks %}
  <hr>
  <h4>Remarks</h4>

  <div class="section">
    <span>
      {{ strain.remarks|enhanced_markdown }}
    </span>
  </div>
  {% endif %}

  <!-- stock -->
  {% if lines %}
  <hr>
  <h4>Stock</h4>

  <ul> <!-- all worm lines -->
    {% for line in lines %}
    <li>
      {% if line.created_internally %}
        Internal line
      {% elif line.has_receipt_detail %}
        {{ line.get_receipt_detail }}
      {% else %}
        Line with no recorded information about receipt
      {% endif %}

      <ul> <!-- per worm line -->
        {% if line.remarks %}
        <li>{{ line.remarks|enhanced_markdown }}</li>
        {% endif %}

        {% if line.times_outcrossed %}
        <li>Outcrossed {{ line.times_outcrossed }}x</li>
        {% endif %}

        {% for stock in line.stocks %}
        <li>{{ stock.get_freeze_detail }}
          <ul> <!-- per stock of this line -->
            {% if stock.notes %}
            <li>{{ stock.notes }}</li>
            {% endif %}

            <li>Thawed tubes:
              <table>
                <tr><td>-80C tester:
                  {% if stock.thaw_80 %}
                    {% if stock.thaw_80.is_thawed %}
                      {{ stock.thaw_80.get_thaw_detail }}
                    {% else %}
                      not thawed yet
                    {% endif %}
                  {% else %}not available{% endif %}
                </td></tr>

                <tr><td>Liquid Nitrogen tester:
                  {% if stock.thaw_N %}
                    {% if stock.thaw_N.is_thawed %}
                      {{ stock.thaw_N.get_thaw_detail }}
                    {% else %}
                      not thawed yet
                    {% endif %}
                  {% else %}not available{% endif %}
                </td></tr>

                {% for tube in stock.thawed_tubes %}
                <tr><td>
                  {{ tube.position }}: {{ tube.get_thaw_detail }}
                </td></tr>
                {% endfor %}
              </table>
            </li>

            <li class="tubes">
              {% if stock.unthawed_tubes %}
              Available tubes:
              <table>
                {% for tube in stock.unthawed_tubes %}
                <tr><td>
                  {{ tube.position }}{% if tube.notes %}.
                  Note: {{ tube.notes }}
                  {% endif %}
                </td></tr>
                {% endfor %}
              </table>

              {% else %}
              No available tubes recorded
              {% endif %}
            </li>
          </ul>
        </li>

        {% empty %}
        <li>No stocks recorded</li>
        {% endfor %}

      </ul>

    </li> <!-- this worm line -->
    {% endfor %}
  </ul> <!-- all worm lines -->
  {% endif %}
</div>
{% endblock %}
