{% extends 'base.html' %}


{% block body_id %}worms{% endblock %}
{% block page_title %}Worm Strains{% endblock %}


{% block content %}

{% if perms.worm_strains %}
<a id="page-admin-link"
   href="{% url 'admin:worm_strains_wormstrain_add' %}">
  Add worm</a>
{% endif %}


<form action={% url 'worms_url' %} method="get">
  <input type="text" name="query">
  <input type="submit" value="Search">
</form>

<span>{{ worms|length }} worm strains</span>


<table id="worm-table">
  <thead>
    <tr>
      <th id="strain-column">Strain Name</th>
      <th>Genotype</th>
    </tr>
  </thead>

  {% for worm in worms %}
  <tr>
    <td>
      <a href={{ worm.get_absolute_url }}>
        {{ worm.id }}
      </a>
    </td>

    <td>{{ worm.genotype }}</td>
  </tr>
  {% endfor %}
</table>

<table id="table-thead-fixed"></table>
{% endblock %}
