{% extends 'base.html' %}
{% load extra_tags %}


{% block body_id %}worm{% endblock %}
{% block page_title %}{{ worm }}{% endblock %}


{% block content %}

{% if perms.worm_strains %}
<a id="page-admin-link"
   href="{% url 'admin:worm_strains_wormstrain_change' worm.id %}">
  Edit</a>
{% endif %}

<div id="sections">
  <!-- Identification -->
  {% if worm.species or worm.on_wormbase or worm.genotype %}
  <div class="section">
    {% if worm.species %}
    <span>
      <b>Species:</b> <i>{{ worm.species }}</i>
    </span>
    {% endif %}

    {% if worm.genotype %}
    <span>
      <b>Genotype:</b> {{ worm.genotype }}
    </span>
    {% endif %}

    {% if worm.on_wormbase %}
    <span>
      <a class="external-link" href="{{ worm.get_wormbase_url }}">
        See on wormbase
      </a>
    </span>
    {% endif %}
  </div>
  {% endif %}

  <!-- Origin -->
  {% if worm.created_by or worm.lab or worm.date_created or worm.mutagen %}
  <hr>
  <h4>Origin</h4>

  <div class="section">
    {% if worm.created_by %}
    <span>
      <b>Made by:</b> {{ worm.created_by.get_full_name }}
    </span>
    {% endif %}

    {% if worm.lab %}
    <span>
      <b>Lab:</b> {{ worm.lab }}
    </span>
    {% endif %}

    {% if worm.date_created %}
    <span>
      <b>Made on:</b> {{ worm.date_created }}
    </span>
    {% endif %}

    {% if worm.mutagen %}
    <span>
      <b>Mutagen or Method Used:</b> {{ worm.mutagen }}
    </span>
    {% endif %}

    {% if worm.parent_worm %}
    <span>
      <b>Parent worm:</b> {{ worm.parent_worm }}
    </span>
    {% endif %}
  </div>
  {% endif %}

  <!-- Other information -->
  {% if worm.remarks %}
  <hr>
  <h4>Remarks</h4>

  <div class="section">
    <span>
      {{ worm.remarks|enhanced_markdown }}
    </span>
  </div>
  {% endif %}

  <!-- stock -->
  {% if lines %}
  <hr>
  <h4>Lines & Stocks</h4>

  <ul> <!-- all worm lines -->
    {% for line in lines %}
    <li>
      {% if line.created_internally %}
      Line created internally

      {% elif line|get_receipt_string %}
      {{ line|get_receipt_string }}

      {% else %}
      Line with no recorded information about receipt
      {% endif %}

      {% if perms.storage %}
      <a class="admin-link"
         href="
         {% url 'admin:storage_stock_add'%}?stockable={{ line.stockable_ptr_id }}
      ">
        Add stock</a>
      {% endif %}

      <ul> <!-- per worm line -->
        {% if line.remarks %}
        <li>{{ line.remarks|enhanced_markdown }}</li>
        {% endif %}

        {% if line.times_outcrossed %}
        <li>Outcrossed {{ line.times_outcrossed }}x</li>
        {% endif %}

        {% for stock in line.stocks %}
        <li>
          {{ stock|get_prep_string }}

          {% if perms.storage %}
          <a class="admin-link"
            href="{% url 'admin:storage_stock_change' stock.id %}">
            Edit stock</a>
          {% endif %}

          <ul> <!-- per stock of this line -->
            {% if stock.notes %}
            <li>{{ stock.notes }}</li>
            {% endif %}

            {% if stock.thawed_tubes %}
            <li>
              Thawed tubes:
              <table>
                {% for tube in stock.thawed_tubes %}
                <tr><td>
                  {% with container=tube position=True %}
                  {% include 'container_ancestry.html' %}
                  {% endwith %}

                  ; {{ tube|get_thaw_string }}
                </td></tr>
                {% endfor %}
              </table>
            </li>
            {% endif %}

            <li class="tubes">
              {% if stock.unthawed_tubes %}
              Available tubes:
              <table>
                {% for tube in stock.unthawed_tubes %}
                <tr><td>
                  {% with container=tube position=True %}
                  {% include 'container_ancestry.html' %}
                  {% endwith %}

                  {% if tube.notes %}
                  ; Note: {{ tube.notes }}
                  {% endif %}
                </td></tr>
                {% endfor %}
              </table>

              {% else %}
              No available tubes recorded
              {% endif %}
            </li>
          </ul>
        </li>

        {% empty %}
        <li>No stocks recorded</li>
        {% endfor %}

      </ul>

    </li> <!-- this worm line -->
    {% endfor %}
  </ul> <!-- all worm lines -->
  {% endif %}
</div>
{% endblock %}
