{% extends "base.html" %}

{% block page_title_style %}class="no-page-title"{% endblock %}

{% block content %}
<div id="lockdown">
  <p>
    This site is not yet available to the public. Please enter the site
    password.
  </p>
  <br>
  {% if form %}
  <form action="" method="post">
    <div>
      {% for field in form %}
        {{ field.errors }}
        Site Password: {{ field }}
      {% endfor %}
    </div>
    <input type="submit" value="Preview">
  </form>
  {% endif %}
</div>
{% endblock %}
